<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Budgtr</title>

    <link rel="stylesheet" href="/public/normalize.css" />
    <link rel="stylesheet" href="/public/skeleton.css" />
  </head>
  <body>
    <h1>Hello World!</h1>
  </body>
</html>
