<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>

    <nav>
        <a class="button" href="/budgets">Back</a>
    </nav>

    <div class="container">
        <h1>Add a new item </h1>
        
        <form action="/budgets" method="POST">
            <div class="row">
                <div class="six columns">
                    <label for="date">Date</label>
                </div>
                <div class="six columns">
                    <label for="name">Name</label>
                </div>
                <div class="six columns">
                    <label for="amount">Amount</label>
                </div>
                <div class="six columns">
                    <label for="from">From</label>
                </div>
            </div>
            <input class="button" type="submit" value="CREATE NEW ITEM">
        </form>
        
    </div>


  </body>
</html>
